* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F3F2F2;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    width: 100%;
    text-decoration: none;
}

.conteiner {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    margin: 10px auto;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.2); 
}

.logo {
    width: 201px;
    margin: 10px auto 0;
}

p {
    font-size: 0.9rem;
    line-height: 1rem;
    max-width: 95%;
    margin: 20px auto 10px;
}

h1 {
    text-align: center;
    font-size: 0.7rem;
    margin: 5px 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px;
}

form input {
    height: 42px;
    padding-left: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

form input::placeholder {
    color: black;
    font-size: 12px;
}

button {
    width: 100%;
    margin-top: 1rem;
    font-size: 1.1rem;
    padding: 0.9rem;
    background-color: #fb6997;
    color: white;
    cursor: pointer;
    border: 1px solid #fb6997;
    border-radius: 5px;
    transition: all .4s;
}



.cupon {
    margin-bottom: 10px;
}

.error {
    color: red;
    font-style: italic;
}

.oculto {
    display: none;
}

.title {
    order: 2;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.2rem;
    margin-top: -130px;
}

.imgAlerta {
    margin-top: 40px;
}

.alerta {
    width: 335px;
    height: 438px;
}

.negrita {
    font-weight: bolder;
}

.img-banner {
    width: 100%;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.2); 
}

.banner {
    margin: 20px 0 20px;
}

.ver {
    text-decoration: underline;
    color: #fb6997;
    margin-top: 20px;
    font-size: 1.1rem;
}

.big {
    font-size: 1.3rem;
}

.verbutton {
    background-color: white;
    color: #fb6997;
}

.abutton i {
    margin-right: 15px;
    font-size: 1.1rem;
}

.logoEclab {
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

@media(min-width: 768px) {
    .verbutton:hover {
        background-color:#fb6997;
        color: white;
    }

    button:hover {
        background-color: white;
        color: #fb6997;
        border: 1px solid #fb6997;
    }
}